<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DupCel.Model.Properties.Settings.SettingConexao" connectionString="Data Source=LAPTOP-J8IGC1CM;Initial Catalog=DupCel_new;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>